.Timeline {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #ccc;
  height: 100%;
  position: relative;
}

.time-line {
  flex: 1 1;
  width: 0;
  height: 100%;
  border: 1px solid gray;
  position: absolute;
}

.time-line-container {
  flex: 1 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-circle {
  width: 10px;
  height: 10px;
  transform: translate(0, -50%);
  position: absolute;
  border: 1px solid #29648A;
  background: #29648A;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.task-circle.selected {
  transition: height .15s, width .15s;
  width: 30px;
  height: 30px;
  z-index: 2;
  background-color: #2e9cca;
}

.months-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.month {
  display: flex;
  width: 100px;
  align-items: center;
}

.month span {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  font-size: .75em;
  font-weight: bold;
  margin-left: 5%;
  transform: rotate(180deg);

}

.month:first-of-type {
  border-radius: 5px 5px 0 0;
}

.month:last-of-type {
  border-radius: 0 0 5px 5px;
}

.month.even {
  background-color: #E5E6F3;
}

.month.odd {
  background-color: #D8E9F4;
}

.start-date-label {
  top: 0;
  background: black;
  border: 0;
  width: 12px;
  height: 3px;
}

.end-date-label {
  bottom: 0;
  background: black;
  border: 0;
  width: 12px;
  height: 3px;
}
