.TasksList {
  flex: 1 1 20%;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #ccc;
  background: white;
  margin: 10px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.TaskListItem {
  cursor: pointer;
  padding: 20px;
  background: #eee;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #ccc;
  margin-bottom: 5px;
  flex-direction: row;
  list-style-type: none;
}

.task-item {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  /* max-height: 560px; */
}

.task-li-title {
  padding-left: 10px;
}

.task-list-header,
.task-list-footer {
  flex-shrink: 0;
}

input[type="checkbox"] + label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #464866 ;
  color: black;
  background-color: white;
  border-radius: 10px;
}

input[type="checkbox"]:checked + label {
  color: white;
  background-color: #464866;
  border-radius: 10px;
  border: 0px;
  padding: 10px;

}

.checkboxTaskListItem {
  display: none;
}

.uncompleted {
  background-color: white;
}